services:
  gateway:
    build: .
    ports:
      - "8000:8000"

    env_file:
      - .env

    environment:
      - UPSTREAM_URL=http://mock_backend:80

    volumes:
      - ./:/app
      - /app/node_modules

    command: pnpm run dev

    depends_on:
      - mock_backend

  mock_backend:
    image: traefik/whoami
    expose:
      - "80"